:root {
    --border-font-color: #1b1b1b;
}

.dark-mode {
    --border-font-color: #ebebeb;
}

.arrow-scroll-icon {
    margin-right: auto;
    margin-left: auto;
    top: 30px;

    width: 30px;
    height: 30px;
    border: 2px solid var(--border-font-color);
    border-radius: 50%;
    position: relative;
    animation: down 1.5s infinite;
    -webkit-animation: down 1.5s infinite;
    &::before {
        content: '';
        position: absolute;
        top: 6px;
        left: 8px;
        width: 10px;
        height: 10px;
        border-left: 2px solid var(--border-font-color);
        border-bottom: 2px solid var(--border-font-color);
        transform: rotate(-45deg);
    }
}

@keyframes down {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translateY(15px);
    }
    40% {
        transform: translate(0);
    }
}
